/* non-critical CSS */
/*bottom*/

/*FX*/
.intro-effect-push:not(.notrans) .aboveBottom,
.intro-effect-push:not(.notrans) .title,
.intro-effect-push:not(.notrans) .fragenTabs > div {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.intro-effect-push:not(.notrans) .fragenTabs > div {
    transition: all 1s ease-in-out;
}

.intro-effect-push:not(.notrans) .aboveBottom {5
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
}

.intro-effect-push .codrops-demos a {
  color: #108576;
}

.intro-effect-push .aboveBottom {
/*  position: absolute;*/
  z-index: 1500;
}

body.desktop .intro-effect-push .title {
  position: relative;
  top: auto;
  left: auto;
/*  padding: 6em 1em 2em;*/
}

.intro-effect-push .fragenTabs > div {
  margin-top: 50px;
  color: #787878;
  font-size: 18px;
  line-height: 26px;
}

.intro-effect-push .fragenTabs > div {
/*  -webkit-transform: translateY(400px);
  transform: translateY(400px);*/
  position: relative;
  bottom: -10vh;
  opacity: 0;
}
.intro-effect-push .title {
  -webkit-transform: translateY(0vh);
  transform: translateY(0vh);
}
/*.intro-effect-push.modify .title,
.intro-effect-push.modify .fragenTabs > div {
  -webkit-transform: translateY(-180%);
  transform: translateY(-180%);
}*/
.intro-effect-push.modify .title {
  -webkit-transform: translateY(-70vh);
  transform: translateY(-70vh);
}
.intro-effect-push.modify .fragenTabs > div {
  bottom: 70vh;
  opacity: 1;
}

.intro-effect-push.modify .aboveBottom {
  opacity: 0;
  -webkit-transform: translateY(-100%) scale(0.9);
  transform: translateY(-100%) scale(0.9);
}


.intro-effect-push.modify:not(.notrans) .title {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.intro-effect-push.modify:not(.notrans) .fragenTabs > div {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/* Trigger Button */
/*button.trigger {
  position: fixed;
  bottom: 40px;
  left: 50%;
  z-index: 5000;
  display: block;
  margin-left: -0.5em;
  padding: 0;
  width: 1em;
  height: 1em;
  border: none;
  background: transparent;
  color: transparent;
  font-size: 2em;
  cursor: pointer;
}*/