.navImgWrapper,.navImgWrapper a{
    position:relative
}
@media (min-width:1280px){
    .fullwidth{
        width:100%
    }
    .innerwidth{
        width:1180px;
        margin:0 auto
    }
}
@font-face{
    font-family:assistantregular;
    src:url(/templates/089-template/fonts/assistant-regular-webfont.ttf) format('truetype');
    font-weight:400;
    font-style:normal
}
.clr{
    clear:both
}
a{
    transition:all .3s ease-in-out
}
.flex{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
.vcard .adr,body.site dt.article-info-term,body.site span.icon-chevron-right,body.site span.small.blogView{
    display:none
}
.space-between{
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between
}
body{
    font-family:assistantregular,sans-serif;
    animation:fadein .3s ease-in-out;
    -webkit-animation:fadein .3s ease-in-out
}
@-webkit-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
body.site button,body.site input,body.site select,body.site textarea{
    font-family:assistantregular,sans-serif;
    font-size:18px
}
body.desktop p{
    font-size:16px
}
.is_home main h2,h1{
    color:#777;
    font-weight:700;
    margin-bottom:0
}
.is_home main h2{
    margin-top:0
}
body.desktop h1{
    font-size:26px;
    text-transform:uppercase
}
body.desktop main#content h2{
    font-size:26px
}
body#body .primColor{
    color:#f5590f
}
body#body .darkPColor{
    color:#000
}
body#body .lightGrey{
    color:#6d6d6d
}
.item-page .page-header:nth-of-type(1){
    margin-bottom:0
}
.item-page .page-header:nth-of-type(2){
    margin-bottom:20px
}
.page-header{
    border-bottom:none
}
body.desktop .item-page p{
    font-size:18px
}
body.site .blog p,body.site .item-page p{
    line-height:25px;
    color:#828282
}
body.desktop main#content .blog .page-header h2{
    text-align:center
}
.vcardHolder,body.desktop div.item-page.grafikdesign h3.lightGrey{
    text-align:right
}
body.desktop main#content h2 a{
    color:#525252
}
body.desktop .item-page.fotografie p,body.desktop .item-page.grafikdesign p,body.desktop .item-page.promotion p,body.desktop .item-page.textart p,body.desktop .item-page.webaudio p,body.desktop .item-page.webvideo p{
    margin-bottom:30px
}
h3.attentGetter,h3.menuItemh3Header{
    margin-bottom:0
}
body.desktop .catLinkHolder h3,h3.menuItemh3Header{
    font-size:24px
}
body#body h3.startH3{
    font-size:28px
}
body.desktop p.introPara{
    font-size:22px
}
p.introPara{
    font-weight:700
}
body.desktop.itemid-101,body.desktop.itemid-102,body.desktop.itemid-103,body.desktop.itemid-104,body.desktop.itemid-105,body.desktop.itemid-181,body.desktop.itemid-182,body.desktop.itemid-192{
    overflow:hidden
}
body.tablet.itemid-101 .aboveBottom,body.tablet.itemid-102 .aboveBottom,body.tablet.itemid-103 .aboveBottom,body.tablet.itemid-104 .aboveBottom,body.tablet.itemid-105 .aboveBottom,body.tablet.itemid-181 .aboveBottom,body.tablet.itemid-182 .aboveBottom,body.tablet.itemid-192 .aboveBottom{
    height:100vh
}
h2.slogan{
    font-family:assistantregular;
    font-size:21px;
    text-transform:uppercase;
    margin-top:20px;
    letter-spacing:1px
}
.logoWrapper{
    padding:25px 0 0 30px
}
body.desktop header#header,body.tablet header#header{
    box-shadow:0 2px 20px -5px #000;
    position:relative
}
h3.attentGetter{
    color:#5a5a5a;
    font-size:21px;
    font-weight:700
}
h3.motto{
    font-size:22px;
    line-height:20px;
    font-weight:700;
    color:#000
}
a.conBtn,p.tel{
    font-size:18px;
    text-transform:uppercase
}
p.tel{
    font-weight:700
}
a.conBtn{
    color:#707070;
    padding:0 15px 20px;
    border-right:1px solid #c3c2c1;
    border-bottom:1px solid #c3c2c1;
    border-radius:0 0 25px
}
.navImgWrapper a{
    z-index:1
}
.catLinkHolder a{
    text-transform:uppercase;
    color:#f5590f;
    font-size:1em;
    font-weight:700
}
body.desktop.is_home main .second.introPara{
    margin-left:40%;
    font-size:25px;
    margin-bottom:30px
}
.navImgWrapper img{
    width:55px;
    padding:10px;
    background:#fff;
    border:1px solid #ccc;
    border-radius:30%;
    margin-right:10px;
    box-shadow:3px 6px 10px -3px #adadad;
    opacity:1;
    transition:all .6s ease
}
body.desktop .navImgWrapper:before{
    content:'';
    position:absolute;
    width:40px;
    height:70px;
    background:0 100% no-repeat #f5590f;
    top:0;
    left:0;
    border-radius:0 20px 20px 0;
    background-size:80%;
    transform:scale(0,0) translateX(-80px);
    z-index:0;
    transition:all .4s ease-in-out
}
body.desktop div[itemprop=articleBody]>.navIconStart{
    width:300px;
    padding:10px 20px 10px 0
}
body.desktop nav.startNaviIcons .navIconStart{
    width:250px
}
body.desktop div[itemprop=articleBody]>.navIconStart,body.desktop nav.startNaviIcons .navIconStart{
    background:rgba(165,165,165,0);
    border-radius:5px;
    transition:all .3s ease-in-out
}
body.desktop div[itemprop=articleBody]>.navIconStart:hover,body.desktop nav.startNaviIcons .navIconStart:hover{
    background:rgba(165,165,165,.3)
}
body.desktop .navImgWrapper:hover:before{
    transform:scale(1,1) translateX(0)
}
body.desktop .navImgWrapper:hover:after{
    box-shadow:4px 10px 40px -9px #737373
}
body.mobile .navImgWrapper:after,body.mobile .navImgWrapper:before{
    transform:scale(1,1)
}
body.desktop .navImgWrapper:hover img{
    opacity:0
}
.catLinkHolder h3{
    opacity:1;
    transition:opacity .4s ease-in-out
}
body.desktop .navImgWrapper:hover+div.catLinkHolder h3{
    opacity:0
}
body.desktop .navImgWrapper a:after{
    content:attr(title);
    width:140px;
    height:50px;
    position:absolute;
    font-size:14px;
    font-weight:700;
    color:#a6a5a4;
    top:-20px;
    left:85px;
    opacity:0;
    transition:all .6s ease .2s
}
.bottomMenu ul.nav.menu li a:after,.bottomMenu ul.nav.menu li a:before,.mainNav ul.nav.menu li:before,a.trigger.scrollAdvise:before,body.desktop .refImgContainer a:before,ul.bottomContentUl li:before{
    content:''
}
body.desktop .navImgWrapper:hover a:after{
    opacity:1
}
body.desktop .refImgContainer a:hover:before{
    background:rgba(0,0,0,.15)
}
body.desktop .refImgContainer a:before{
    width:100%;
    height:100%;
    position:absolute;
    background:rgba(0,0,0,0);
    z-index:1;
    border-radius:3px;
    transition:background .4s ease-in-out
}
body.desktop .refImgContainer a:hover img{
    transform:scale(1.05)
}
body.desktop .refImgContainer img{
    transform:scale(1);
    transition:transform .3s ease-in-out
}
body.desktop .refImgContainer{
    width:500px;
    overflow:hidden;
    margin:30px 0;
    position:relative
}
body#body.desktop blockquote{
    max-width:60%;
    margin-left:15px
}
body#body blockquote{
    border-left:5px solid #e25b00;
    font-style:italic;
    margin:30px 0
}
body#body.referenzen a.refHeaderLink{
    color:#eb5a00
}
div#collapseTwo a{
    font-size:16px;
    color:#eb5a00
}
main#content{
    margin-top:20px
}
div#module_112{
    position:relative;
    left:0
}
ol.breadcrumb{
    background:0 0;
    margin:0;
    padding:0
}
ol.breadcrumb li a{
    color:#f5590f
}
body.blog h1,body.itemid-106 h1,body.itemid-107 h1{
    margin-bottom:20px
}
body.desktop h2.sideNoteHeader{
    left:0
}
body#body.mobile h2.sideNoteHeader{
    left:0;
    font-size:17px;
    padding:15px;
    margin:5px 0 10px
}
h2.sideNoteHeader{
    float:left;
    max-width:250px;
    margin:5px 0 20px;
    position:relative;
    padding:20px;
    font-style:italic;
    border-left:2px solid #f5590f;
    color:#f5590f
}
.blogItemImg,body.itemid-162 .catImg{
    position:absolute;
    right:5vw
}
body.site dd.createdby{
    margin-top:40px
}
body#body .badge-info,body#body .label-info{
    background-color:#eb5a00
}
dd.result-text{
    border-bottom:1px solid #e2e2e2;
    padding:5px
}
.search.blogView{
    font-size:1.4em;
    line-height:35px
}
dl.search-results.blogView dd{
    font-size:.9em;
    line-height:20px;
    margin-bottom:10px
}
dl.search-results.blogView a{
    color:#eb5a00
}
body.site.desktop input.search-query,body.site.tablet input.search-query{
    padding-left:50px;
    border-radius:0 0 20px 20px;
    height:30px;
    box-shadow:1px 6px 15px -5px;
    background:0 0;
    width:125px
}
body.desktop .searchWrapper{
    position:absolute;
    right:calc(365px + 1000 * ((100vw - 1920px)/ 1920))
}
div.search input.button{
    background:0 0;
    position:relative;
    left:50px
}
div.search input#mod-search-searchword{
    padding:15px 0 15px 50px;
    border-radius:0 0 10px 10px;
    border:none;
    width:140px;
    box-shadow:2px 8px 30px -9px #727272;
    background:rgba(255,255,255,.4)
}
@-webkit-keyframes itemImageAnim{
    0%{
        transform:translate(200%,0)
    }
    95%{
        transform:rotate(-10deg)
    }
    100%{
        transform:translate(0,0) rotate(0)
    }
}
@keyframes itemImageAnim{
    0%{
        transform:translate(200%,0)
    }
    95%{
        transform:rotate(-10deg)
    }
    100%{
        transform:translate(0,0) rotate(0)
    }
}
@-webkit-keyframes sloganPopup{
    from{
        transform:scale(0,0)
    }
    to{
        transform:scale(1,1)
    }
}
@keyframes sloganPopup{
    from{
        transform:scale(0,0)
    }
    to{
        transform:scale(1,1)
    }
}
@-webkit-keyframes rotateAni{
    from{
        -webkit-transform:rotateZ(-1080deg)
    }
    to{
        -webkit-transform:rotateZ(0)
    }
}
@keyframes rotateAni{
    from{
        transform:rotateZ(-1080deg)
    }
    to{
        transform:rotateZ(0)
    }
}
@-webkit-keyframes rightToLeft{
    from{
        -webkit-transform:translateX(200%);
        transform:translateX(200%);
        opacity:.2
    }
    to{
        tranform:translateX(0);
        opacity:1
    }
}
@keyframes rightToLeft{
    from{
        -webkit-transform:translateX(200%);
        transform:translateX(200%);
        opacity:.2
    }
    to{
        tranform:translateX(0);
        opacity:1
    }
}
body.desktop .item-page .item-image,body.desktop .item-page .itemIntroImg{
    position:absolute
}
body.desktop .item-page.webdesign .item-image{
    right:13vw;
    top:35vh
}
body.desktop .item-page.webdesign .item-image img{
    animation:itemImageAnim .8s cubic-bezier(.83,.24,.35,1.45) .8s forwards;
    -webkit-animation:itemImageAnim .8s cubic-bezier(.83,.24,.35,1.45) .8s forwards;
    transform:translate(200%,0);
    -webkit-transform:translate(200%,0);
    -ms-transform:translate(200%,0)
}
body.desktop .item-page.webdesign .itemIntroImg{
    transform:scale(0,0);
    -webkit-transform:scale(0,0);
    -ms-transform:scale(0,0);
    right:15vw;
    top:20vh;
    animation:sloganPopup .6s cubic-bezier(1,.22,.38,1.91) 1.2s forwards;
    -webkit-animation:sloganPopup .6s cubic-bezier(1,.22,.38,1.91) 1.2s forwards
}
body.desktop .item-page.grafikdesign .item-image{
    right:0;
    top:40vh
}
body.desktop .item-page.grafikdesign .itemIntroImg img{
    animation:rotateAni .7s cubic-bezier(1,.57,.92,1.3) .5s forwards
}
body.desktop .item-page.grafikdesign .itemIntroImg{
    right:5vw;
    top:15vh;
    transform:scale(0,0);
    animation:sloganPopup .9s ease .6s forwards
}
body.desktop .item-page.textart .item-image{
    right:15vw;
    top:25vh
}
body.desktop .item-page.fotografie .itemIntroImg{
    right:5vw;
    top:30vh
}
body.desktop .item-page.fotografie .item-image{
    right:0;
    top:13vh
}
body.desktop .kameraImg{
    position:absolute;
    right:calc(11vw - 64 *((100vw - 1920px)/ 980));
    top:calc(47vh + 64 *((100vh - 920px)/ 460))
}
body.desktop .item-page.webaudio .itemIntroImg{
    right:0;
    top:15vh
}
body.desktop .item-page.webaudio .item-image{
    right:15vw;
    top:32vh
}
body.desktop .waveformImg{
    position:absolute;
    right:0;
    top:50vh
}
body.desktop .item-page.webvideo .itemIntroImg{
    right:0;
    top:20vh
}
body.desktop .item-page.webvideo .item-image{
    right:3vw;
    top:40vh
}
body.desktop .videoCamImg{
    position:absolute;
    right:0;
    top:50vh
}
body.desktop .item-page.promotion .itemIntroImg{
    right:0;
    top:20vh
}
body.desktop .item-page.promotion .item-image{
    right:6vw;
    top:45vh
}
body.desktop .promoImg{
    position:absolute;
    right:1vw;
    top:68vh
}
body.desktop .promoImgCloud{
    position:absolute;
    right:20vw;
    top:20vh;
    width:130px
}
div.item img{
    width:calc(360px + 160 *((100vw) - 1920px)/ 980)
}
body.desktop div#startCarousel{
    position:absolute;
    top:250px;
    right:0;
    width:37%;
    height:60%;
    z-index:1
}
img#schreibTischBckgr{
    position:absolute;
    right:0;
    top:0
}
body.desktop .carousel-inner{
    width:calc(360px + 8 *((100vw - 1920px)/ 980));
    margin:0;
    position:absolute;
    right:calc(40px + 150 *((100vw - 1920px)/ 980));
    top:calc(30px + 10 *((100vh - 980px)/ 100))
}
body.site .blog p.readmore{
    text-align:center
}
body.site .blog a.btn{
    background:0 0;
    border:none;
    box-shadow:none;
    color:#f5590f;
    font-size:16px
}
body.desktop .blog .item{
    width:60%;
    max-width:320px;
    height:320px
}
.blog .item{
    border:1px solid #c1c1c1;
    padding:1.5em;
    background:rgba(255,255,255,.4);
    border-radius:15px;
    margin-bottom:15px;
    box-shadow:5px 5px 40px -11px #727272
}
body.desktop .item-image{
    position:absolute;
    right:0
}
body#body.blogView div.bckgr{
    background:0 0;
    box-shadow:none
}
body.desktop.fullwidth.bckgr{
    box-shadow:0 2px 30px -5px #9e9e9e
}
body.desktop .fullwidth.bckgr{
    background:url(/images/mauer-XL-start.jpg) top left no-repeat;
    background-size:cover
}
body.tablet .fullwidth.bckgr{
    background:url(/images/mauer-XL.jpg) top left no-repeat;
    background-size:cover
}
body.is_home a.trigger.scrollAdvise,body.not_home a.trigger.scrollAdvise.clicked{
    font-size:18px
}
a.trigger.scrollAdvise {
    font-family:inherit;
    border:none;
    width:50px;
    height:50px;
    white-space:nowrap;
    background:0 0;
    color:#5a5a5a;
    margin:25px 0 0;
    padding:5px 0 0;
    position:relative;
    top:30px;
    cursor:pointer;
    -webkit-transition:color .3s ease-in-out;
    -o-transition:color .3s ease-in-out;
    transition:color .3s ease-in-out;
}
body.not_home a.trigger.scrollAdvise { 
    color: #f5590f;
    font-size: 16px;
}
body.not_home a.trigger.scrollAdvise img {
    padding-right: 10px;
}
body.is_home a.trigger.scrollAdvise:before{
    top:-40px
}
body.not_home a.trigger.scrollAdvise:before{
    top:-10px
}
body.desktop.not_home a.trigger.scrollAdvise.clicked:before{
    top:-30px
}
body.is_home a.trigger.scrollAdvise:before{
    background:url(/images/arrow-down.png) 30% 30% no-repeat;
    position:absolute;
    width:50px;
    height:50px;
    z-index:0
}
body.not_home a.trigger.scrollAdvise.clicked:before {
    position:absolute;
    width:50px;
    height:50px;
    z-index:0    
}
body.desktop.is_home a.trigger.scrollAdvise:before{
    right:0
}
body.desktop a.trigger.scrollAdvise.clicked:before{
    left:45px
}
body.mobile.is_home a.trigger.scrollAdvise:before{
    right:80px
}
body.mobile a.trigger.scrollAdvise.clicked:before{
    right:40px
}
body.is_home a.trigger.scrollAdvise.clicked:before,
body.not_home a.trigger.scrollAdvise.clicked:before {
    background:url(/images/arrow-up.png) no-repeat;
    animation:bounceArrow .6s ease infinite alternate;
    -webkit-animation:bounceArrow .6s ease infinite alternate
}
a.trigger.scrollAdvise:focus{
    border:none;
    outline:0
}
a.trigger:hover{
    color:#f5590f;
    text-decoration:none
}
a.trigger.scrollAdvise.clicked{
    opacity:.6
}
a.trigger.scrollAdvise.clicked:hover{
    opacity:1
}
a.trigger:hover:before{
    animation:bounceArrow .4s ease infinite alternate;
    -webkit-animation:bounceArrow .4s ease infinite alternate
}
@-webkit-keyframes bounceArrow{
    from{
        transform:translateY(0)
    }
    to{
        transform:translateY(-10px)
    }
}
@keyframes bounceArrow{
    from{
        transform:translateY(0)
    }
    to{
        transform:translateY(-10px)
    }
}
div#topDesigner{
    float:right;
    margin:30px 30px 15px
}
div#module_92{
    max-width:300px
}
div#module_92 .custom{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
div#module_92 .custom div:nth-of-type(1){
    -ms-flex-negative:0;
    flex-shrink:0;
    margin-right:5px
}
div#module_92 .custom div:nth-of-type(2){
    width:120px
}
div#module_92 p{
    font-size:13px;
    color:#676863
}
div#leftNav{
    float:left;
    margin:10px 30px 15px
}
div#module_100 ul li a,div#module_124 ul li a{
    color:#5a5a5a;
    font-weight:700
}
div#module_100 ul li.active a,div#module_124 ul li.active a{
    color:#f6720f
}
div#module_100 ul{
    width:160px
}
body.site div#module_100 .nav>li a:focus,body.site div#module_100 .nav>li a:hover,body.site div#module_124 .nav>li a:focus,body.site div#module_124 .nav>li a:hover{
    background-color:transparent;
    color:#f6720f
}
h3.bottomh3{
    font-weight:400;
    font-size:21px;
    opacity:1;
    transition:opacity .4s .8s ease-in-out
}
.intro-effect-push.modify h3.bottomh3{
    opacity:0;
    transition:opacity .3s ease-in-out
}
.gBannerWrapper,.greyBanner{
    position:absolute;
    width:100%;
    height:100px;
    top:0;
    left:0
}
.greyBanner{
    background-color:#e6e6e6;
    opacity:0;
    transform:translateX(-100%);
    transition:transform 1s 1s ease-in-out,opacity 1s linear
}
.intro-effect-push.modify .greyBanner{
    transform:translateX(0);
    opacity:1;
    transition:all .8s .8s ease-in-out
}
.gBannerWrapper{
    transform:translateY(-100%);
    transition:transform .5s 0s ease
}
.intro-effect-push.modify .gBannerWrapper{
    transform:translateY(0);
    transition:transform .1s 0s ease
}
.bottomMenu,.footerMenu{
    position:absolute;
    transform:translateY(150%);
    left:50px
}
img.logoBottom{
    padding:20px 0 0 30px;
    float:left;
    clear:both
}
h3.bottomSlogan{
    text-align:right;
    padding-right:50px;
    font-size:1.5em;
    opacity:0;
    transition:opacity .2s 0s ease
}
.intro-effect-push.modify h3.bottomSlogan{
    opacity:1;
    transition:opacity .8s 2s ease
}
.footerMenu{
    opacity:0;
    bottom:30px;
    transition:transform .3s 0s ease-in-out,opacity .3s 0s ease-in-out
}
.bottomMenu{
    bottom:calc(23% + 300 *((100vh - 980px)/ 960));
    transition:transform .6s 0s ease-in-out
}
.intro-effect-push.modify .footerMenu{
    opacity:1;
    transform:translateY(0);
    transition:transform 1.3s 2.2s ease,opacity 1.5s 2.5s ease-in-out
}
.intro-effect-push.modify .bottomMenu{
    transform:translateY(0);
    transition:transform 1s 1.2s ease
}
.bottomMenu .image-title{
    display:none
}
.bottomMenu ul.nav.menu img{
    width:30px
}
.bottomMenu ul.nav.menu li a{
    position:relative;
    width:50px;
    height:50px
}
.bottomMenu ul.nav.menu li a:before{
    position:absolute;
    width:50px;
    height:50px;
    top:-10px;
    left:-10px;
    background:#e2e2e2;
    border-radius:50%;
    z-index:-1
}
body.desktop .bottomMenu .nav>li>a:focus,body.desktop .bottomMenu .nav>li>a:hover,body.desktop .mainNav .nav>li>a:focus,body.desktop .mainNav .nav>li>a:hover{
    background-color:transparent
}
.bottomMenu ul.nav.menu li a:after{
    background:0 0;
    width:100%;
    height:100%;
    position:absolute;
    top:-11px;
    left:-11px;
    border:1px solid #f5590f;
    border-radius:50%;
    z-index:0;
    opacity:0
}
.bottomMenu ul.nav.menu li.current.active a:before{
    background:#f5590f
}
@-webkit-keyframes borderAni{
    0%{
        -webkit-transform:scale(0);
        opacity:0;
        box-shadow:inset 0 0 0 rgba(245,89,15,.4)
    }
    50%{
        -webkit-transform:scale(1.2);
        opacity:.6
    }
    70%{
        opacity:.2
    }
    100%{
        -webkit-transform:scale(2);
        opacity:0;
        box-shadow:inset 0 0 35px rgba(245,89,15,.4)
    }
}
@keyframes borderAni{
    0%{
        transform:scale(0);
        opacity:0;
        box-shadow:inset 0 0 0 rgba(245,89,15,.4)
    }
    50%{
        transform:scale(1.2);
        opacity:.6
    }
    70%{
        opacity:.2
    }
    100%{
        transform:scale(2);
        opacity:0;
        box-shadow:inset 0 0 35px rgba(245,89,15,.4)
    }
}
body.desktop .bottomMenu ul.nav.menu li a:focus::after,body.desktop .bottomMenu ul.nav.menu li a:hover::after{
    animation:borderAni 1s 1 ease backwards;
    -webkit-animation:borderAni 1s 1 ease backwards
}
.bottomMenu ul.nav.menu li{
    margin-bottom:15px;
    opacity:0;
    transform:translateY(100%);
    transition:opacity .2s ease-in-out,transform .8s ease
}
.intro-effect-push.modify .bottomMenu ul.nav.menu li{
    opacity:1
}
.intro-effect-push.modify .bottomMenu ul.nav.menu li:nth-of-type(1){
    transition-delay:1.4s;
    transform:translateY(0)
}
.intro-effect-push.modify .bottomMenu ul.nav.menu li:nth-of-type(2){
    transition-delay:1.6s;
    transform:translateY(0)
}
.intro-effect-push.modify .bottomMenu ul.nav.menu li:nth-of-type(3){
    transition-delay:1.8s;
    transform:translateY(0)
}
.intro-effect-push.modify .bottomMenu ul.nav.menu li:nth-of-type(4){
    transition-delay:2s;
    transform:translateY(0)
}
.intro-effect-push.modify .bottomMenu ul.nav.menu li:nth-of-type(5){
    transition-delay:2.15s;
    transform:translateY(0)
}
.intro-effect-push.modify .bottomMenu ul.nav.menu li:nth-of-type(6){
    transition-delay:2.25s;
    transform:translateY(0)
}
.intro-effect-push.modify .bottomMenu ul.nav.menu li:nth-of-type(7){
    transition-delay:2.4s;
    transform:translateY(0)
}
body.not_home div.title>h3,h3.belowHeader-small{
    font-size:18px;
    margin-left:40px;
    margin-bottom:0;
    font-weight:400;
    line-height:20px
}
div#module_102 h2.belowHeader:before,h2.btmHeaderWebdesign:before{
    background:url(/images/icon-webdesign.png) top left no-repeat
}
div#module_106 h2.belowHeader:before,h2.btmHeaderGrafik:before{
    background:url(/images/icon-grafik.png) top left no-repeat
}
body#body.itemid-104 div#module_107 h2.belowHeader:before,body#body.itemid-104 h2.btmHeaderText:before{
    background:url(/images/icon-text.png) top left no-repeat;
    top:10px
}
body#body.itemid-105 h2.btmHeaderFoto:before,div#module_108 h2.belowHeader:before{
    background:url(/images/icon-foto.png) top left no-repeat;
    top:10px
}
body#body.itemid-181 h2.btmHeaderAudio:before,div#module_109 h2.belowHeader:before{
    background:url(/images/icon-audio.png) top left no-repeat;
    top:10px
}
body#body.itemid-182 h2.btmHeaderVideo:before,div#module_110 h2.belowHeader:before{
    background:url(/images/icon-video.png) top left no-repeat;
    top:10px
}
body#body.itemid-192 h2.btmHeaderPromo:before,div#module_111 h2.belowHeader:before{
    background:url(/images/icon-promo.png) top left no-repeat;
    top:10px
}
body.desktop .scroller{
    text-align:center
}
body.desktop.is_home a.trigger.scrollAdvise:before{
    left:41%
}
body.not_home div.title>h2:before,h2.belowHeader:before{
    content:'';
    position:absolute;
    width:60px;
    height:60px;
    top:0;
    background-size:100%!important
}
body.not_home div.title>h2:before{
    left:-75px
}
body.desktop h2.belowHeader:before{
    left:-20px
}
body.mobile h2.belowHeader:before{
    left:0
}
body.not_home div.title>h2,h2.belowHeader{
    font-size:24px;
    margin:20px 0 0 40px
}
body.not_home div.title>h2,body.not_home div.title>h3{
    margin:0 auto
}
body.not_home div.title>h2,body.not_home div.title>h3{
    white-space:nowrap;
    position:relative;
    opacity:1;
    -webkit-transition:all .5s ease .8s;
    -o-transition:all .5s ease .8s;
    transition:all .5s ease .8s
}
body.desktop.not_home div.title>h2,body.desktop.not_home div.title>h3{
    -webkit-transform:translateX(42%);
    -ms-transform:translateX(42%);
    transform:translateX(42%)
}
body#body.mobile.phone div.title>h2,body#body.mobile.phone div.title>h3{
    width:initial
}
body.not_home div.modify div.title>h2,body.not_home div.modify div.title>h3{
    opacity:0;
    transition:all .6s ease
}
ul.bottomContentUl li:before{
    background:#cac8c7;
    width:15px;
    height:15px;
    position:absolute;
    top:10px;
    left:-25px
}
ul.bottomContentUl li{
    line-height:30px;
    list-style-type:none;
    position:relative
}
h3.headerBelow{
    font-size:1.1em
}
h2.bottomHeader{
    color:#787878;
    text-transform:uppercase;
    font-size:18px;
    font-weight:400
}
h2.bottomHeader span{
    color:#f6720f
}
div#accordion2 h3 a{
    color:#f6720f;
    font-weight:400;
    font-size:16px
}
body.site .accordion-inner{
    padding:5px 25px;
    border-top:1px solid #e5e5e5
}
body.desktop .desktopFlex,body.tablet .desktopFlex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
body.desktop div#accordion2,body.tablet div#accordion2{
    -ms-flex-preferred-size:50%;
    flex-basis:50%;
    padding:0 20px 0 0
}
body.desktop iframe.flexIframe,body.tablet iframe.flexIframe{
    -ms-flex-preferred-size:50%;
    flex-basis:50%;
    box-shadow:6px 2px 30px -14px #000
}
.lazy-hidden{
    opacity:0
}
.lazy-loaded{
    -webkit-transition:opacity .4s;
    -moz-transition:opacity .4s;
    -ms-transition:opacity .4s;
    -o-transition:opacity .4s;
    transition:opacity .4s
}
.mainNav ul.nav.menu li:nth-of-type(1).current.active:before,.navIconStart .navImgWrapper.webDesign-start:before,body.desktop .mainNav ul.nav.menu li:hover:nth-of-type(1):before{
    background-image:url(/images/icon-webdesign-active.png)
}
.mainNav ul.nav.menu li:nth-of-type(2).current.active:before,.navIconStart .navImgWrapper.grafik-start:before,body.desktop .mainNav ul.nav.menu li:hover:nth-of-type(2):before{
    background-image:url(/images/icon-grafik-active.png)
}
.mainNav ul.nav.menu li:nth-of-type(3).current.active:before,.navIconStart .navImgWrapper.text-start:before,body.desktop .mainNav ul.nav.menu li:hover:nth-of-type(3):before{
    background-image:url(/images/icon-text-active.png)
}
.mainNav ul.nav.menu li:nth-of-type(4).current.active:before,.navIconStart .navImgWrapper.foto-start:before,body.desktop .mainNav ul.nav.menu li:hover:nth-of-type(4):before{
    background-image:url(/images/icon-foto-active.png)
}
.mainNav ul.nav.menu li:nth-of-type(5).current.active:before,.navIconStart .navImgWrapper.audio-start:before,body.desktop .mainNav ul.nav.menu li:hover:nth-of-type(5):before{
    background-image:url(/images/icon-audio-active.png)
}
.mainNav ul.nav.menu li:nth-of-type(6).current.active:before,.navIconStart .navImgWrapper.video-start:before,body.desktop .mainNav ul.nav.menu li:hover:nth-of-type(6):before{
    background-image:url(/images/icon-video-active.png)
}
.mainNav ul.nav.menu li:nth-of-type(7).current.active:before,.navIconStart .navImgWrapper.promo-start:before,body.desktop .mainNav ul.nav.menu li:hover:nth-of-type(7):before{
    background-image:url(/images/icon-promo-active.png)
}
.mainNav ul.nav.menu li.current.active:before,body.desktop .mainNav ul.nav.menu li:hover:before{
    left:-40px;
    transform:scale(1,1)
}
.mainNav ul.nav.menu li:before{
    position:absolute;
    width:40px;
    height:60px;
    background:0 100% no-repeat #f5590f;
    top:10px;
    left:-80px;
    border-radius:0 20px 20px 0;
    background-size:80%;
    transform:scale(0,0);
    transition:all .3s ease-in-out
}
.mainNav ul.nav.menu li.current.active img{
    visibility:hidden;
    width:0;
    padding:15px 0
}
.mainNav ul.nav.menu li a{
    max-height:60px
}
.mainNav ul.nav.menu li img{
    background:rgba(128,128,128,.25);
    border-radius:30%;
    width:40px;
    height:37px;
    padding:15px;
    transform:scale(1,1);
    transition:all .3s ease-in-out
}
body.desktop .mainNav ul.nav.menu li:hover img{
    transform:scale(0,0)
}
body.desktop div.mainNav ul.nav.menu li:hover .image-title,div.mainNav ul.nav.menu li.current.active .image-title{
    opacity:1;
    transform:translateX(0);
    visibility:visible;
    font-size:18px;
    color:#f5590f;
    text-transform:uppercase;
    width:70px;
    height:auto;
    position:absolute;
    bottom:20px;
    text-align:center
}
body.desktop .mainNav ul li:hover .image-title{
    opacity:1;
    display:block;
    transform:translateX(0)
}
.mainNav .image-title{
    opacity:0;
    visibility:hidden;
    height:0;
    width:0;
    transform:translateX(-130px);
    transition:transform .6s ease-in-out
}
.mainNav ul.nav.menu li{
    padding:10px 0;
    position:relative
}
.mainNav{
    float:left;
    margin:30px 0 30px 40px;
    position:relative
}
.navbar .nav>li{
    display:inline-block
}
.mainNav ul.nav.menu li a:after{
    content:attr(title);
    display:block;
    width:9vw;
    height:auto;
    position:absolute;
    left:90px;
    top:10px;
    padding:5px;
    color:#969594;
    font-size:14px;
    opacity:0;
    filter:blur(5px);
    -webkit-filter:blur(5px);
    transition:opacity .4s ease,-webkit-filter .4s ease-in-out .2s;
    transition:opacity .4s ease,filter .4s ease-in-out .2s;
    transition:opacity .4s ease,filter .4s ease-in-out .2s,-webkit-filter .4s ease-in-out .2s
}
.navbar .navbar-inner{
    border:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    padding:10px 0;
    background-color:transparent;
    background-image:none
}
nav.navbar-wrapper.innerwidth{
    margin:0 auto
}
.navbar{
    margin:0 0 5px;
    padding:0;
    position:relative;
    z-index:999
}
@media (min-width:980px){
    .dropdown-menu,.nav-pills>li>a{
        margin:0
    }
    .nav-pills>li.dropdown:hover ul.dropdown-menu,.nav-tabs>li.dropdown:hover ul.dropdown-menu{
        display:block
    }
    .nav-pills>li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,.nav-tabs>li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu{
        display:none
    }
    .nav-pills>li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,.nav-tabs>li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu{
        display:block
    }
}
@media (max-width:733px){
    .dropdown,.dropdown-submenu{
        display:block;
        position:static;
        float:none
    }
    .dropdown-menu{
        position:static;
        float:none
    }
    .open .nav-child.dropdown-menu{
        display:block;
        background-color:transparent;
        border:none;
        border-radius:0;
        box-shadow:none
    }
}
.item{
    max-width:100%
}
.carousel-fade .carousel-inner .item{
    opacity:0;
    transition:opacity 2s ease
}
.carousel-fade .carousel-inner .active{
    opacity:1
}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{
    left:0;
    opacity:0;
    z-index:1
}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right{
    opacity:1
}
.carousel-fade .carousel-control{
    z-index:2
}
@media all and (transform-3d),(-webkit-transform-3d){
    .carousel-fade .carousel-inner>.item.active.left,.carousel-fade .carousel-inner>.item.active.right,.carousel-fade .carousel-inner>.item.next,.carousel-fade .carousel-inner>.item.prev{
        opacity:0;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    .carousel-fade .carousel-inner>.item.active,.carousel-fade .carousel-inner>.item.next.left,.carousel-fade .carousel-inner>.item.prev.right{
        opacity:1;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
}
/*!<-- end BS carousel 
/*resize Alarm*/
body.desktop #resizeAlarm{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.8);
    text-align:center;
    z-index:999
}
body.desktop #resizeAlarm p{
    line-height:80px;
    color:#fff;
    font-size:21px;
    text-shadow:2px 2px 3px #333;
    -webkit-transform:translate(0,50%);
    -ms-transform:translate(0,50%);
    transform:translate(0,50%)
}
a.cookieImp,body#body #cookiesck .cookiesck_inner a{
    color:#fff;
    text-decoration:underline;
    font-size:16px
}
body#body #cookiesck_accept{
    background:#eb5a00;
    float:none;
    width:100px;
    margin:20px auto 0!important;
    border:1px solid #fff
}
body#body #cookiesck_readmore{
    margin:1px 0 1px 1px;
    color:#fff;
    float:none;
    text-decoration:underline;
    text-shadow:0 3px 5px #525252;
    padding:10px 10px 10px 0
}
body#body #cookiesck{
    padding:5px 10px;
    font-size:16px
}
body#body #cookiesck_readmore:hover,body#body a.cookieImp:hover{
    color:#484848;
    text-shadow:none
}
a.cookieImp,body#body #cookiesck .cookiesck_inner{
    display:initial;
    line-height:20px;
    text-shadow:0 3px 5px #525252
}
body#body #cookiesck_accept:hover{
    font-size:initial;
    background:#fff;
    color:#eb5a00;
    border-color:#eb5a00
}
@media(max-width:1280px){
    body#body.site div#cookiesck span{
        font-size:14px!important
    }
    body#body.site #cookiesck_readmore{
        padding:10px 10px 10px 0!important
    }
    body#body.site #cookiesck_accept{
        float:none!important;
        margin:10px auto!important
    }
    body#body.site #cookiesck{
        text-align:left!important;
        line-height:25px!important
    }
}
@media(max-width:1366px){
    body#body.mobile #cookiesck_accept{
        width:80px
    }
}
.ytContainer,.ytWrapper{
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
svg.playBtn{
    position:absolute;
    display:block
}
.privacy--Hint,svg.playBtn.play{
    display:none
}
svg.playBtn:hover path:first-child{
    fill:#f30b00
}
svg.playBtn path{
    cursor:pointer
}
.privacy--Hint.confirm{
    opacity:0;
    display:block;
    position:absolute;
    width:80%;
    z-index:1;
    color:#fff;
    background:rgba(0,0,0,.7);
    text-align:center;
    padding:30px 10px;
    border-radius:3px;
    font-size:16px;
    text-shadow:1px 3px 3px #000;
    animation:fadIn .4s ease-in-out .3s forwards;
    line-height:20px
}
@-webkit-keyframes fadIn{
    0%{
        opacity:0;
        -webkit-transform:translateY(-100px);
        transform:translateY(-100px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
@keyframes fadIn{
    0%{
        opacity:0;
        -webkit-transform:translateY(-100px);
        transform:translateY(-100px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
button.privacy--Hint__check,button.privacy--Hint__denied{
    padding:10px 15px;
    border-radius:5px;
    background:#f0f0f0;
    color:#444;
    font-size:16px;
    border:1px solid #444;
    cursor:pointer;
    transition:all .4s ease-in-out
}
button.privacy--Hint__check:hover,button.privacy--Hint__denied:hover{
    background:#f30b00;
    color:#fff
}
.privacy--Hint.confirm a{
    color:#fff;
    text-decoration:underline
}
.privacy--Hint.confirm a:hover{
    color:#eb5a00
}
.privacy--Hint.confirm p{
    margin-bottom:20px
}
body.is_home a.trigger.scrollAdvise:after{
    top:-37px;
    left:100px
}
a.trigger.scrollAdvise.clicked:after{
    content:initial
}
a.trigger.scrollAdvise:after{
    top: -4px;
    left: 0px;
    content:' ';
    background:0 0;
    width:40px;
    height:40px;
    position:absolute;
    color:#f5590f;
    border:1px solid #f5590f;
    border-radius:50%;
    z-index:0;
    opacity:0;
    -webkit-animation:borderAni 2s ease-out infinite;
    animation:borderAni 2s ease-out infinite
}
body#body.desktop .intro-effect-push.modify .belowContent.bottomUp .title {
    -webkit-transform: translateY(-80vh);
    transform: translateY(-80vh);
}
body#body.desktop .intro-effect-push.modify .belowContent.bottomUp .fragenTabs>div {
    bottom: 80vh;
}