@media(max-width:600px){
    body#body.tablet .bottomTitle{
        position:initial;
        top:initial
    }
}
@media only screen and (min-width:600px) and (max-width:1280px) and (orientation:portrait){
    body.tablet #startCarousel img,body.tablet .item-image,body.tablet .itemIntroImg,body.tablet .kameraImg,body.tablet .promoImg,body.tablet .promoImgCloud,body.tablet .videoCamImg,body.tablet .waveformImg{
        display:none
    }
}
@media only screen and (min-width:768px) and (max-width:1280px) and (orientation:portrait){
    body.mobile h3.bottomh3.lightGrey{
        position:relative;
        top:-110px;
        height:40px;
        white-space:nowrap;
        left:-70px
    }
}
@media screen and (max-height:450px){
    .overlay a{
        font-size:20px
    }
    .overlay .closebtn{
        font-size:40px;
        top:15px;
        right:35px
    }
}
@media(max-width:767px) and (orientation:landscape){
    a#downArrow,a#upArrow,body.phone .mobileHeader{
        display:none
    }
    body.phone .mobileHeader-wrap img{
        width:100%
    }
    body.mobile.phone .flex>div,body.mobile.phone .flex>ul{
        -ms-flex-preferred-size:50%;
        flex-basis:50%
    }
    body.phone.is_home .navIconStart{
        -ms-flex-preferred-size:25%;
        flex-basis:25%
    }
}
@media(max-width:767px) and (orientation:portrait){
    body#body.phone .mobileHeaderOverlayBottom h3{
        font-size:21px;
        line-height:30px;
        z-index:0;
        opacity:0;
        animation:fadein 1s ease 2s forwards;
        -webkit-animation:fadein 1s ease 2s forwards
    }
    body.itemid-104 .mobileHeaderOverlayBottom img{
        opacity:0;
        animation:rightToLeft 1s ease-in-out 1s forwards;
        -webkit-animation:rightToLeft 1s ease-in-out 1s forwards
    }
    body.itemid-104 .mobileHeaderOverlayBottom{
        position:absolute;
        bottom:30px;
        left:0;
        background:0 0;
        width:100%;
        text-align:center
    }
    .mobileHeaderOverlayBottom{
        position:absolute;
        bottom:0;
        left:0;
        background:rgba(245,89,15,.6);
        color:#fff;
        width:100%;
        text-align:center
    }
    .mobileHeaderOverlayContent img{
        padding:20px;
        transform:scale(0);
        animation:sloganPopup .6s cubic-bezier(1,.22,.38,1.91) 1.2s forwards;
        -webkit-animation:sloganPopup .6s cubic-bezier(1,.22,.38,1.91) 1.2s forwards
    }
    body#body.itemid-105.phone .mobileHeaderOverlayContent h2,body#body.itemid-181.phone .mobileHeaderOverlayContent h2,body#body.itemid-182.phone .mobileHeaderOverlayContent h2{
        text-align:initial;
        padding-left:40px
    }
    body#body.phone .mobileHeaderOverlayContent h2{
        text-align:center;
        width:100vw;
        font-weight:700;
        color:#777;
        font-size:calc(21px + (27 - 21) * ((100vw - 320px)/ (414 - 320)));
        text-transform:none;
        line-height:40px;
        opacity:0;
        text-shadow:1px 1px 0 #cecece;
        -webkit-animation:fadein 1.2s ease .8s forwards;
        animation:fadein 1.2s ease .8s forwards
    }
    .mobileHeaderOverlayContent{
        position:absolute;
        top:0;
        left:0
    }
    .mobileHeader{
        position:relative
    }
    body.phone .aboveBottom{
        height:100vh
    }
    body.phone.blogView .aboveBottom{
        height:initial
    }
    body.phone .flex{
        display:block
    }
}
@media(max-width:767px){
    body.phone .aboveBottom,body.phone .innerwidth.content{
        margin-bottom:50px
    }
    body.blogView .aboveBottom{
        margin-bottom:0
    }
    body.phone div#myNav input.button{
        position:relative;
        left:50px
    }
    body.phone input#mod-search-searchword113{
        padding-left:50px
    }
    body.phone .catLinkHolder h3{
        line-height:20px
    }
    body.phone .iconRow{
        display:flex;
        justify-content:space-between
    }
    body.phone div#startCarousel{
        display:none
    }
    body.phone .menuTitle{
        color:#fff;
        position:absolute;
        right:60px;
        text-transform:uppercase;
        font-weight:400;
        font-size:15px
    }
    body.phone div.title{
        margin-bottom:60px
    }
    body.phone button.trigger.scrollAdvise{
        width:100%
    }
    body.mobile.phone button.trigger.scrollAdvise:before{
        left:45%
    }
    body.phone .mobileIntroImage{
        display:block
    }
    body.phone .item-image,body.phone .itemIntroImg{
        display:none
    }
    body.mobile h1,body.mobile h2{
        text-transform:uppercase;
        line-height:25px
    }
    body.mobile h3.attentGetter{
        line-height:25px
    }
    body.mobile{
        padding-right:initial;
        padding-left:initial
    }
    body.mobile h2.slogan{
        font-size:.9em;
        line-height:20px;
        margin:5px 0 0
    }
    body.mobile .vcard p.tel{
        margin-bottom:0
    }
    body.mobile .vcardHolder h3.motto{
        margin-top:0;
        line-height:25px
    }
    body.phone.mobMenIsOpen{
        overflow-y:hidden
    }
    body.mobile ul.menu li{
        list-style-type:none
    }
    .overlay{
        height:100%;
        width:0;
        position:fixed;
        z-index:1;
        left:0;
        top:0;
        background-color:rgba(245,89,15,.9);
        overflow-x:hidden;
        transition:.5s
    }
    .overlay-content{
        position:relative;
        top:5%;
        width:100%;
        text-align:center;
        margin-top:30px
    }
    .overlay a{
        padding:10px;
        text-decoration:none;
        font-size:21px;
        color:#fff;
        display:block;
        transition:.3s
    }
    .overlay a:focus,.overlay a:hover{
        color:#f1f1f1
    }
    .overlay .closebtn{
        position:absolute;
        top:20px;
        right:45px;
        font-size:60px
    }
    body.phone .navbar .btn-navbar{
        background-color:transparent;
        background-image:none;
        box-shadow:none;
        border:none
    }
    body.phone .navbar .btn-navbar .icon-bar{
        width:30px;
        height:3px;
        color:#fff;
        box-shadow:none
    }
    body.phone .navbar-inner{
        background-color:#f5590f;
        padding:0
    }
    body.phone .btn-navbar .icon-bar+.icon-bar{
        margin-top:5px
    }
}
@media(min-width:768px){
    body#body.site .mobileIntroImage{
        display:none
    }
    .iconRow,.navIconStart{
        display:flex;
        margin-bottom:24px;
        align-items:center
    }
    .iconRow{
        justify-content:space-between
    }
}
@media(max-width:1024px) and (orientation:portrait){
    body#body.tablet .bottomTitle{
        top:-20%
    }
    body.tablet .belowContent .flex.space-between{
        display:initial
    }
    body.tablet .video{
        margin:60px auto
    }
}
@media(max-width:1024px){
    body.tablet div#module_100 ul.nav.menu li a{
        font-size:12px;
        line-height:17px
    }
    body#body.phone.itemid-101,body#body.phone.itemid-102,body#body.phone.itemid-103,body#body.phone.itemid-104,body#body.phone.itemid-105,body#body.phone.itemid-181,body#body.phone.itemid-182,body#body.phone.itemid-192{
        overflow:visible
    }
    body.desktop h1,body.desktop h2,body.desktop h3{
        line-height:20px
    }
    body#body.desktop .fullwidth.bckgr{
        background:0 0;
        padding:10px 10px 0 20px
    }
    body.mobile h3{
        font-size:calc(14px + (18 - 14) * ((100vw - 320px)/ (1024 - 320)))
    }
    body.phone.mobile main#content p{
        font-size:calc(14px + (16 - 14) * ((100vw - 320px))/ (1024 - 320))
    }
}
@media(max-width:960px) and (orientation:landscape){
    body#body.tablet h3.bottomh3.lightGrey{
        top:-70px!important
    }
    body#body.tablet .bottomTitle{
        position:initial;
        top:initial
    }
    body.tablet .belowContent{
        margin-top:80px
    }
}
@media(min-width:1025px) and (max-width:1679px){
    body#body.desktop .item-image{
        position:absolute;
        right:0
    }
}
@media(max-width:1200px){
    body.desktop div#startCarousel{
        display:none
    }
}
@media(min-width:1200px){
    body.desktop.is_home .fullwidth.bckgr{
        height:675px
    }
    body.desktop.blog .fullwidth.bckgr,body.desktop.blogView .fullwidth.bckgr{
        height:auto
    }
}
@media(max-width:1280px) and (orientation:portrait){
    body.tablet.blog .innerwidth.content{
        height:initial
    }
    body.tablet .innerwidth.content{
        height:70vh
    }
    body.mobile .bottomMenu{
        top:13vh
    }
}
@media(max-width:1280px) and (orientation:landscape){
    body.tablet .articleBody{
        width:75%
    }
    body.mobile .bottomMenu{
        top:18vh
    }
    body.tablet .mainNav{
        max-height:500px
    }
    body.mobile img#schreibTischBckgr{
        position:absolute;
        right:0;
        top:0;
        width:35%
    }
    body#body.tablet.mobile img#schreibTischBckgr{
        position:absolute;
        right:-205px;
        top:165px;
        width:40%
    }
}
@media(min-width:768px) and (max-width:1280px){
    body.mobile .iconRow .navIconStart{
        width:25vw
    }
    body.mobile .intro-effect-push .fragenTabs>div{
        font-size:16px
    }
    body.mobile .belowContent .flex>div,body.mobile .belowContent .flex>ul{
        flex-basis:50%
    }
    body.mobile ul.bottomContentUl{
        margin-left:35px
    }
}
@media(max-width: 1200px) {
    body.desktop .item-page img {
        display: none;
    }
}
@media(max-width:1280px){
    body#body.desktop .searchWrapper{
        right:15%
    }
    body.desktop .vcardHolder{
        text-align:initial
    }
}
@media(min-width:1281px){
    body.desktop .KontaktBtn{
        position:absolute;
        display:block;
        right:50px;
        top:55px
    }
    body.desktop p.tel{
        font-size:25px
    }
    body.desktop .logoWrapper img:hover{
        -webkit-filter:blur(3px);
        filter:blur(3px)
    }
    body.desktop .logoWrapper img{
        -webkit-filter:blur(0);
        filter:blur(0);
        -webkit-transition:-webkit-filter .3s ease-in-out;
        transition:-webkit-filter .3s ease-in-out;
        transition:filter .3s ease-in-out;
        transition:filter .3s ease-in-out,-webkit-filter .3s ease-in-out
    }
    body.desktop h2.bottomHeader{
        font-size:24px
    }
    body.desktop div#accordion2 h3 a{
        font-size:22px
    }
}
@media(max-width:1366px) and (orientation:landscape){
    body.tablet .copyWrapper p{
        -ms-flex-preferred-size:30%;
        flex-basis:30%
    }
    body#body.tablet .copyWrapper nav.navLeft{
        -ms-flex-preferred-size:70%;
        flex-basis:70%
    }
}
@media(max-width:1366px){
    body#body.itemid-162 .catImg img,body.tablet.upArrow #downArrow{
        display:none
    }
    body#body.mobile.tablet .promotion h2.primColor:not(.slogan),body#body.mobile.tablet .webvideo h2.primColor:not(.slogan){
        font-size:20px
    }
    body#body.site.tablet input.search-query{
        padding:2px 0 4px 50px;
        font-size:17px
    }
    body#body.tablet p.tel{
        margin-bottom:5px
    }
    body#body.tablet h3.motto{
        margin-top:5px;
        line-height:15px
    }
    body#body.tablet .vcardHolder{
        margin-bottom:5px;
        position:relative;
        bottom:10px
    }
    body#body.tablet .logoWrapper img{
        width:380px
    }
    body#body.tablet h2.slogan{
        margin-top:10px;
        font-size:18px;
        line-height:25px
    }
    body.mobile .privacy--Hint.confirm,body.mobile button.privacy--Hint__check,body.mobile button.privacy--Hint__denied{
        font-size:14px
    }
    body.mobile h1{
        font-size:calc(22px + (32 - 22) * ((100vw - 320px)/ (1366 - 320)))
    }
    body.mobile h2:not(.slogan){
        font-size:calc(20px + (28 - 20) * ((100vw - 320px)/ (1366 - 320)))
    }
    body.tablet main#content{
        float:left;
        width:78%
    }
    body.blog .item h2 a{
        color:#f5590f
    }
    body.tablet.blogView main#content{
        margin-top:20px
    }
    body.tablet .blog .item{
        height:auto
    }
    body#body.tablet.mobile h3.bottomh3.lightGrey{
        left:0;
        top:-110px;
        position:relative
    }
    body#body.tablet.mobile main#content p{
        font-size:calc(14px + (20 - 14) * ((100vw - 320px))/ (1366 - 320))
    }
    body.tablet.upArrow a#upArrow{
        display:block
    }
    body.mobile.is_home .belowContent .title .scroller,body.mobile.not_home .belowContent .title,body.tablet a#upArrow{
        display:none
    }
    body.mobile .fragenTabs{
        position:relative;
        clear:both
    }
    body.mobile #downArrow img,body.mobile #upArrow img{
        -webkit-animation:arrowHint 1.8s ease-in-out infinite;
        animation:arrowHint 1.8s ease-in-out infinite
    }
    @-webkit-keyframes arrowHint{
        0%{
            -webkit-transform:tranlateY(-10px);
            transform:tranlateY(-10px);
            opacity:0
        }
        50%{
            opacity:1
        }
        100%{
            -webkit-transform:translateY(15px);
            transform:translateY(15px);
            opacity:.1
        }
    }
    @keyframes arrowHint{
        0%{
            -webkit-transform:tranlateY(-10px);
            transform:tranlateY(-10px);
            opacity:0
        }
        50%{
            opacity:1
        }
        100%{
            -webkit-transform:translateY(15px);
            transform:translateY(15px);
            opacity:.1
        }
    }
    a#upArrow{
        bottom:2%
    }
    a#downArrow{
        bottom:12%
    }
    a#downArrow,a#upArrow{
        text-align:center;
        position:absolute;
        width:100%;
        z-index:1
    }
    body.tablet #module_124 ul.nav.menu li{
        display:inline-block;
        padding-right:15px
    }
    body.tablet.not_home .title{
        float:left
    }
    body.tablet .item-page h3{
        margin:0
    }
    body#body.tablet.not_home .blog p,body#body.tablet.not_home .item-page p{
        line-height:28px;
        margin:0
    }
    body.tablet main#content{
        margin-top:0
    }
    body.tablet.is_home .innerwidth.content{
        clear:both
    }
    body.tablet .searchWrapper{
        float:right;
        padding-right:10px
    }
    body.mobile h3.belowHeader-small,body.mobile.not_home div.title>h3{
        margin-left:60px
    }
    body.mobile h2.belowHeader,body.mobile.not_home div.title>h2{
        margin:20px 0 0 60px
    }
    body.mobile main#content{
        padding:0 20px
    }
    body.tablet .blogItemImg img{
        width:50%
    }
    body.mobile .blogItemImg{
        position:initial;
        right:initial;
        margin:10px 10px 20px
    }
    body.mobile .navImgWrapper img{
        width:45px
    }
    body.mobile .scroller{
        text-align:center
    }
    body.mobile .bottomMenu{
        left:30px
    }
    body.mobile .belowContent>div{
        padding:0 20px 20px
    }
    body#body.mobile.not_home div.title>h2:before{
        left:-55px
    }
    body#body.mobile.not_home div.title>h2:before,body.mobile h2.belowHeader:before{
        width:50px;
        height:50px;
        top:5px
    }
    body#body.mobile.not_home div.title>h2{
        font-size:calc(18px + (21 - 18) * ((100vw - 320px)/ (1280 - 320)))
    }
    body#body.mobile.not_home div.title>h3{
        font-size:calc(16px + (18 - 16) * ((100vw - 320px)/ (1280 - 320)))
    }
    body.mobile .intro-effect-push.modify .fragenTabs{
        height:0
    }
    body.mobile div#leftNav,body.mobile nav.startNaviIcons{
        position:relative;
        z-index:1
    }
    body.mobile .fotografie .item-image{
        top:30px;
        right:-70px
    }
    body.mobile .fotografie .pull-right.kameraImg{
        position:absolute;
        right:40px;
        bottom:20px
    }
    body.mobile .itemIntroImg{
        position:relative
    }
    body.mobile .fotografie .itemIntroImg{
        position:relative;
        right:-30px;
        top:100px
    }
    body.mobile .webaudio .itemIntroImg.pull-right{
        right:-105px
    }
    body.mobile .webaudio .item-image{
        bottom:0;
        right:-50px
    }
    body.mobile .webaudio .waveformImg{
        position:absolute;
        right:30px;
        top:130px
    }
    body.mobile .webvideo .itemIntroImg{
        right:-80px
    }
    body.mobile .webvideo .videoCamImg{
        position:absolute;
        right:-90px;
        top:130px
    }
    body.mobile .webvideo .item-image{
        top:140px;
        right:-40px
    }
    body.mobile .textart .item-image{
        position:absolute;
        top:50px;
        right:50px
    }
    body.mobile .grafikdesign .item-image{
        bottom:0;
        right:-60px
    }
    body.mobile .item-image{
        position:absolute;
        bottom:50px;
        right:10px
    }
    body.tablet .mainNav{
        margin:0 0 0 10px;
        position:relative;
        transform:scale(.8);
        z-index:1
    }
    body#body.tablet a#downArrow{
        bottom:9%
    }
    body.mobile div.search input#mod-search-searchword{
        padding:5px 0 5px 50px;
        border-radius:5px;
        border:1px solid #e2e2e2;
        width:140px;
        box-shadow:none;
        background:0 0
    }
    body.mobile .flex div.searchWrapper{
        -ms-flex-preferred-size:40%;
        flex-basis:40%;
        -webkit-box-flex:0;
        -ms-flex-positive:0;
        flex-grow:0;
        -ms-flex-negative:0;
        flex-shrink:0
    }
    body.mobile .flex div.KontaktBtn{
        -ms-flex-preferred-size:20%;
        flex-basis:20%;
        -webkit-box-flex:0;
        -ms-flex-positive:0;
        flex-grow:0;
        -ms-flex-negative:0;
        flex-shrink:0
    }
    body.mobile .searchWrapper form,body.mobile h3.motto{
        margin-bottom:0
    }
    body.mobile .flex{
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center
    }
    body.mobile a.conBtn{
        text-transform:uppercase;
        color:#fff;
        padding:7px;
        border:1px solid #c3c2c1;
        border-bottom:initial;
        border-radius:5px;
        font-size:18px;
        background:#f5590f
    }
    body.mobile .item-page{
        position:relative;
        padding:0 15px
    }
    body.mobile.blogView .item-page{
        padding:0
    }
    body.mobile header#header{
        padding:0 15px
    }
    body.mobile .logoWrapper{
        padding:15px 0 0
    }
    body.mobile.tablet div#myCarousel{
        display:none
    }
    body.mobile .copyWrapper p{
        margin:0 20px 5px 25px
    }
    body.tablet div#copyright{
        margin:20px 0 30px
    }
    body#body.tablet .copyWrapper ul.nav.menu li a{
        font-size:14px
    }
    body.tablet .copyWrapper ul.nav li{
        display:inline-block;
        padding:0 10px
    }
    body.tablet .copyWrapper{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex
    }
    body.tablet div#module_100 ul{
        width:initial
    }
    body.tablet .bottomTitle{
        position:absolute;
        top:-25%
    }
    body.mobile img.logoBottom{
        max-width:30%
    }
    body.mobile .bottomMenu{
        bottom:initial;
        z-index:1
    }
    body.mobile .intro-effect-push.modify .bottomMenu ul.nav.menu li{
        display:inline-block;
        padding-right:10px
    }
}
@media(max-width: 1400px) {
    body.desktop .item-page img {
        -webkit-transform: scale(0.6) translateX(80px);
            -ms-transform: scale(0.6) translateX(80px);
                transform: scale(0.6) translateX(80px);
    }
}
@media(max-width:1480px){
    body#body.desktop .KontaktBtn{
        position:absolute;
        display:block;
        right:40%
    }
    body#body.desktop main#content.span12{
        width:calc(1080px - 256 * ((100vw - 320px)/ 1040))
    }
}
@media(min-width:1481px){
    .item-page{
        width:65%
    }
}
@media(max-width: 1680px) {
    body#body.site.desktop .intro-effect-push.modify .belowContent.bottomUp .title {
        -webkit-transform: translateY(-90vh);
        transform: translateY(-90vh);
    }
    body#body.site.desktop .intro-effect-push.modify .belowContent.bottomUp .fragenTabs>div {
        bottom: 90vh;
    }  
}
@media(width:1680px){
  
    body#body.desktop.is_home .fullwidth.bckgr{
        height:635px
    }
    body.desktop .intro-effect-push .title{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    body.desktop .intro-effect-push.modify .title{
        -webkit-transform:translateY(-70vh);
        transform:translateY(-70vh)
    }
    body.desktop .intro-effect-push.modify .fragenTabs>div{
        bottom:70vh
    }
}
@media(min-width:1681px){
    body.desktop .mainNav ul.nav.menu li:hover a:after{
        opacity:1;
        filter:blur(0);
        -webkit-filter:blur(0)
    }
}
@media(min-width:1921px){
    body#body.desktop .carousel-inner{
        right:calc(40px + 0 *((100vw - 1920px)/ 980))
    }
}
@media(min-width:1921px) and (min-height:1060px){
    body.desktop .bottom-wrap.innerwidth{
        position:relative;
        top:calc(30px + 512 * (100vh - 1080px)/ 1440)
    }
    body.desktop .intro-effect-push.modify .fragenTabs>div{
        bottom:60vh
    }
    body.desktop .item-page{
        height:63vh
    }
    body#body.desktop .carousel-inner{
        right:calc(40px + 0 *((100vw - 1920px)/ 980));
        top:calc(30px + 0 *((100vh - 980px)/ 100))
    }
}
@media(max-height:700px){
    body#body.desktop #wrapper{
        -webkit-transform:scale(.7);
        -ms-transform:scale(.7);
        transform:scale(.7);
        -webkit-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0
    }
}
@media(min-height:700px) and (max-height:767px){
    body#body.desktop #wrapper{
        -webkit-transform:scale(.75);
        -ms-transform:scale(.75);
        transform:scale(.75);
        -webkit-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0
    }
}
@media(min-height:790px) and (max-height:880px){
    body#body.desktop #wrapper{
        -webkit-transform:scale(.8);
        -ms-transform:scale(.8);
        transform:scale(.8);
        -webkit-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0
    }
}
@media(max-height:800px){
    body.desktop main#content{
        width:100%
    }
    body.site .iconRow,body.site .navIconStart{
        margin-bottom:10px
    }
    body.site .item-page .page-header:nth-of-type(2){
        margin-bottom:20px
    }
}
@media(max-width:1023px){
    body#body.desktop div#wrapper{
        -webkit-filter:blur(10px);
        filter:blur(10px)
    }
    body.desktop #resizeAlarm{
        display:block
    }
}
@media(min-width:1024px){
    body.desktop #resizeAlarm{
        display:none!important
    }
}
